.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 200px;
    background: #fff;
    padding-bottom: 30px;
    width: 600px;
}

.header{
    display: flex;
    flex-direction: column;
   gap: 9px;
    align-items: center;
    margin: auto;
    margin-top: 30px;
    width: 100%;
    padding-bottom: 30px;
}
.text{
    color: #3c009d;
    font-size: 48px;
    font-weight: 700;
}
.underline{
    width: 61px;
    height: 6px;
    background: #3c009d;
    border-radius: 9px;
}
.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
  
}
.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 480px;
    background: #eaeaea;
    height: 80px;
    border-radius: 10px;
    padding: 20px;
}
.icon{
    margin: 0px 30px;
}
.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 700;
    color: #797979;
}
.forgot-password{
    padding-left: 62px;
    margin-top: 27px;
    color: #797979;
    font-size: 20px;
   
}
.forgot-password span{
    color: #3c009d;
    cursor: pointer;
}
.submit-container{
    display: flex;
  gap: 30px;
  margin: 60px auto;
}
.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    background: #3c009d;
    border-radius: 50px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}
.gray{
    background: #eaeaea;
    color: #676767;
}